.main .rowsafa {
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}
/*left*/
.main .rowsafa .safa-left {
	background-color: #ddd;
	flex: 50%;
}
.main .rowsafa .safa-left h2 {
	color: black;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main .rowsafa .safa-left h3 {
	color: black;
	padding-left: 15px;
}
.main .rowsafa .safa-left ul {
	list-style-position: inside;
	padding-left: 35px;
	padding-top: 10px;
}
.main .rowsafa .safa-left li {
	color: black;
}
.main .rowsafa .safa-left .safa-image img {
	width: 45%;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 25px;
}
/*right*/
.main .rowsafa .safa-right {
	background-color: #ccc;
	flex: 50%;
}
.main .rowsafa .safa-right h2 {
	color: black;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.main .rowsafa .safa-right h3 {
	color: black;
	padding-left: 15px;
}
.main .rowsafa .safa-right ul {
	list-style-position: inside;
	padding-left: 35px;
	padding-top: 10px;
}
.main .rowsafa .safa-right li {
	color: black;
}
.main .rowsafa .safa-right .safa-image img {
	width: 45%;
	padding-right: 10px;
	padding-left: 20px;
	padding-bottom: 25px;
}
@media screen and (max-width: 700px) {
  .main .rowsafa {   
    flex-direction: column;
  }
}